/*
Theme Name: Ewenique Child Template
Template: ewenique-core
Author: Blacksheep Creative
Version: 1.0.0
Text Domain: ewenique-child
Description: Default Ewenique child theme template ready to clone per client.
*/